body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	p.theCount {
		font-size: 1.5rem;
		color: yellow;
	}

	.buttonArea {
		display: flex;
		gap: .5rem;

		button {
			font-size: 2rem;
			width: 3rem;
		}
	}

	.buttonAreaExtra {
		display: flex;
		gap: .5rem;
		margin-top: 1rem;

		button {
			font-size: 2rem;
		}

		input {
			font-size: 2rem;
			width: 5rem;
			text-align: right;
		}

		p {
			font-size: 2rem;
			color: tomato;
		}
	}
}